@page "/"

@using System.Text.Json
@using System.Text.Json.Serialization

@inject IHttpClientFactory ClientFactory

<PageTitle>Tweet Counter</PageTitle>

<h1> Tweet Counter</h1>

@if (getTweetCountError)
{
    <p>Unable to get Tweet count </p>
}
else
{
    <p role="status">Current tweet count: @currentCount</p>
}

@code {
    private int currentCount = 0;
    private bool shouldRender;
    private bool getTweetCountError;

    protected override bool ShouldRender() => shouldRender;

    protected  override async Task OnInitializedAsync()
    {

        var timer = new Timer(new TimerCallback(async _ =>
        {
            
            var request = new HttpRequestMessage(HttpMethod.Get, "http://localhost:8080/api/v1/count");

        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "Twitter V2 Api");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if(response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();

            currentCount = await JsonSerializer.DeserializeAsync<int>(responseStream);

        }
        else
        {
            getTweetCountError = true;
        }

        shouldRender = true;

                // Note that the following line is necessary because otherwise
                // Blazor would not recognize the state change and not refresh the UI
                await InvokeAsync(() =>
                {

                    StateHasChanged();
                });
            
        }), null, 1000, 1000);
       
    }
}

